*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
input{
  width:100%;
  border:1px solid gold;
  border-radius:5px;
  height:30px;
  margin:1%;
}
.table__div{
  border: 2px;
  border-color: black
}
select{
  width:100%;
  border:1px solid gold;
  border-radius:5px;
  height:30px;
  margin:1%;
}
.heading{
  letter-spacing:5px;
  width:100%;
  padding:8px;
}

.add{
  width:20%;
  background:gold;
  padding:5px;
  color:#000;
  border:none;
  margin:1%;
  font-weight:bold;
}
.submit,.clear{
  width:100px;
  background:gold;
  padding:5px;
  margin:1%;
  color:#000;
  border:none;
  font-weight:bold;
}
.heading{
  color:gold;
}
body{
  font-family: Verdana;
}
caption{
  color: black;
  padding: 4%;
  font-size: 20px;
  font-weight: 700;
}
td{
  color:black;
  padding: 2%;
  border: none;

}
th{
  text-align: left;
  color:black;
  font: Verdana;
  padding: 1%;
  border: none;
}
table{
  border-collapse: collapse;
  align-self: center;
  align-content: center;
  align-items: center;
  align: center;
  margin-left: 2%;
}
.file{
  width:68%;
}
@media only screen and(max-width:780px){
  input{
    width:100%;
  }
}
